{% extends "base.html" %}

{% block title %}
    <title>Mitchell Huang</title>
{% endblock %}

{% block main %}
    {% for entry in entries %}
                <div class="entry">
                    <div class="entry_title"><a href="/{{ entry.url }}">{{ entry.title }}</a></div>
                    <div class="entry_date">{{ entry.pretty_date }} | <a href="{{ entry.url_md }}">RAW</a></div>
                    <div class="entry_content">
                        {{ entry.content }}
                    </div>
                </div>
    {% endfor %}
{% endblock %}